<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{layouts/main}">
<head>

<!-- CSS  -->
<style>
.card-content {
	height: 180px;
}

.navDropDownIcon {
	height: 22px;
	line-height: 22px;
}
</style>

<link rel="stylesheet" type="text/css" href="static/css/style.css"
	th:src="@{/static/css/style.css}" />

</head>
<body>
	<div layout:fragment="content">

		<div>
			<form id="frmlogout" th:action="@{/logout}" method="post"
				th:hidden="true">
				<input hidden type="submit" value="Sign Out" />
			</form>
		</div>

		<ul id="dropdown-user" class="dropdown-content">
			<li><a href="javascript:{}"
				onclick="document.getElementById('frmlogout').submit(); return false;"><i
					class="material-icons left navDropDownIcon">power_settings_new</i>Kijelentkezek</a>
			</li>
			<li><a href="/upload"><i
					class="material-icons left navDropDownIcon">power_settings_new</i>Upluad</a>
			</li>
		</ul>

		<nav class="grey" role="navigation">
			<div class="nav-wrapper container">
				<a id="logo-container" href="#" class="brand-logo">HostWare
					Cloud</a>
				<ul class="right hide-on-med-and-down">
					<li><a class="dropdown-trigger" href="#"
						data-target="dropdown-user"><i class="material-icons right">account_circle</i><span
							sec:authentication="name">Anonymous</span></a> <!-- Dropdown Structure -->
					<li>
				</ul>

				<ul id="nav-mobile" class="sidenav">
					<li>
						<div class="row">
							<div class="col col s4 m4 l4">
								<i class="material-icons">account_circle</i>
							</div>
							<div class="col col s8 m8 l8">
								<p class="user-roal">
									<span sec:authentication="name">Anonymous</span>
								</p>
							</div>
						</div>
					</li>
					<li>|<a href="javascript:{}"
						onclick="document.getElementById('frmlogout').submit(); return false;"><i
							class="material-icons left navDropDownIcon">power_settings_new</i>Kijelentkezek</a>
					</li>
				</ul>
				<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i
					class="material-icons">menu</i></a>
			</div>
		</nav>



		<div class="section no-pad-bot" id="index-banner">
			<div class="container">
				<br> <br>
				<h1 class="header center pink-text">Indítópult</h1>
				<div class="row center">
					<h5 class="header col s12 light">A mobil technológia mindent
						megváltoztatott</h5>
				</div>
				<br> <br>

			</div>
		</div>



		<div class="container">
			<div class="section">
				<div class="row">

					<div class="col s12 m6 l3">
						<div class="card">
							<div class="card-content pink white-text">
								<p class="card-stats-title center">
									<i class="material-icons">room_service</i>
								</p>
								<h5 class="card-stats-number center">HostWare FRO</h5>
								<p class="card-stats-compare center">Front Office</p>
							</div>
							<div class="card-action pink darken-1">
								<div id="clients-bar" class="center-align">
									<a th:href="@{/fro/start.html}" href="/fro/start.html"
										class="btn-large waves-effect waves-light pink">Start</a>
								</div>
							</div>
						</div>
					</div>


					<div class="col s12 m6 l3">
						<div class="card">
							<div class="card-content light-blue white-text">
								<p class="card-stats-title center">
									<i class="material-icons">brush</i>
								</p>
								<h5 class="card-stats-number center">HostWare KIP</h5>
								<p class="card-stats-compare center">Housekeeping</p>
							</div>
							<div class="card-action light-blue darken-1">
								<div id="clients-bar" class="center-align">
									<a th:href="@{/kip/start.html}" href="/kip/start.html"
										class="btn-large waves-effect waves-light light-blue">Start</a>
								</div>
							</div>
						</div>
					</div>


					<div class="col s12 m6 l3">
						<div class="card">
							<div class="card-content orange white-text">
								<p class="card-stats-title center">
									<i class="material-icons">show_chart</i>
								</p>
								<h5 class="card-stats-number center">HostWare INF</h5>
								<p class="card-stats-compare center">Vezetői információ</p>
							</div>
							<div class="card-action orange darken-1">
								<div id="clients-bar" class="center-align">
									<a th:href="@{/inf/start.html}" href="/inf/start.html"
										class="btn-large waves-effect waves-light orange">Start</a>
								</div>
							</div>
						</div>
					</div>


					<div class="col s12 m6 l3">
						<div class="card">
							<div class="card-content blue-grey white-text">
								<p class="card-stats-title center">
									<i class="material-icons">build</i>
								</p>
								<h5 class="card-stats-number center">HostWare HOT</h5>
								<p class="card-stats-compare center">Beállítások</p>
							</div>
							<div class="card-action blue-grey darken-1">
								<div id="clients-bar" class="center-align">
									<a th:href="@{/cfg/start.html}" href="/cfg/start.html"
										class="btn-large waves-effect waves-light blue-grey">Start</a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<br> <br>
		</div>

		<footer class="page-footer grey">
			<div class="container">
				<div class="row">
					<div class="col l4 s12">
						<h5 class="white-text">HostWare Kft</h5>
						<p class="grey-text text-lighten-4">We are a team of college
							students working on this project like it's our full time job. Any
							amount would help support and continue development on this
							project and is greatly appreciated.</p>


					</div>
					<div class="col l4 s12">
						<h5 class="white-text">Support</h5>
						<ul>
							<li><a class="white-text btn-flat" href="#!"><i
									class="material-icons left">mail</i>support@hostware.hu</a></li>
							<li><a class="white-text btn-flat" href="#!"><i
									class="material-icons left">smartphone</i>+36 30 9140-111</a></li>
							<li><a class="white-text btn-flat" href="#!"><i
									class="material-icons left">smartphone</i>+36 30 9497-222</a></li>
						</ul>
					</div>
					<div class="col l4 s12">
						<h5 class="white-text">Kapcsolat</h5>
						<ul>
							<li><a class="white-text btn-flat" href="#!"><i
									class="material-icons left">place</i>H-1149 Budapest,Róna u.
									120,</a></li>
							<li><a class="white-text btn-flat" href="#!"><i
									class="material-icons left">phone</i>+36 1 469-9000</a></li>
							<li><a class="white-text btn-flat" href="#!"><i
									class="material-icons left">mail</i>hostware@hostware.hu</a></li>
							<li><a class="white-text btn-flat" href="http://hostware.hu"><i
									class="material-icons left">language</i>www.hostware.hu</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					Made by <a class="pink-text text-lighten-3"
						href="http://hostware.hu">HostWare Kft.</a>
				</div>
			</div>
		</footer>
	</div>

</body>
</html>
