<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/public}">

<head>
<style>
.signup-form {
	overflow: hidden;
	padding: 15px 25px 0 25px;
}
</style>
</head>

<body class="grey">
	<div layout:fragment="content" class="row">
		<div class="col m6 offset-m3 l4 offset-l4">
			<p>
				You've been logged out of the application. <a href="/admin.htm">Log
					back in</a>.
			</p>
		</div>
		<!--row-->
	</div>
	<!--content-->
</body>
</html>