<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorate="~{layouts/main}">
<head>

<!-- CSS  -->
<style>
.card-content {
	height: 180px;
}

.navDropDownIcon {
	height: 22px;
	line-height: 22px;
}
</style>

<link rel="stylesheet" type="text/css" href="static/css/style.css"
	th:src="@{/static/css/style.css}" />

</head>
<body>
	<div layout:fragment="content">
		<form action="/spa/v1/organization/upload" th:action="@{/spa/v1/organization/upload}" method="post" 
				enctype="multipart/form-data">
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" /> 
			<input type="file" name="file" id="file" /> 
			<input type="submit" name="submit" value="Submit" />
		</form>
	</div>
</body>
</html>
